{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="signupform">
<form action="{{BASE_URL}}accounts/signup/" method="post">
 {% csrf_token %}
  <fieldset>
    <legend>Signup</legend>
    
    
    {{ form.errors }}
    
    
    <div class="form-group">
    <input class="required form-control" id="id_email" maxlength="75" name="email" type="text" placeholder="Email Address">
    </div>
    
    
    
    
    <div class="password_wrapper">

    <div class="form-group" style="margin-right:10%;">
    <input class="required form-control" id="id_password1" name="password1" type="password" placeholder="Password">
    </div>
    
    
    
    
    
    <div class="form-group">
    <input class="required form-control" id="id_password2" name="password2" type="password" placeholder="Re-enter password">
    </div>
    
    </div>
    
  </fieldset>
  <input type="submit" value="Start Escrow Now" class="btn btn-primary">
</form>


<div class="signup_banner">
<div class="col-md-2"><h1>1.5%</h1></div>
<div class="col-md-4"><span>*per transaction</span></div>
</div>

</div>
{% endblock %}